# Flask
FLASK_ENV=production
SECRET_KEY=change_me_in_production_use_secrets_module

# PostgreSQL — VM Debian 172.16.1.15
DATABASE_URL=postgresql://supervision_user:MOTDEPASSE@localhost:5432/supervision_db

# PRTG — VM Windows Server 172.16.1.5
PRTG_BASE_URL=http://172.16.1.5:443
PRTG_USERNAME=prtgadmin
PRTG_PASSWORD=MOTDEPASSE_PRTG
PRTG_PASSHASH=

# Wazuh — VM Ubuntu 172.16.1.10
WAZUH_API_URL=https://172.16.1.10:55000
WAZUH_USER=wazuh-wui
WAZUH_PASSWORD=MOTDEPASSE_WAZUH

# IoT
IOT_API_TOKEN=token_secret_rpi5

# Seuils alertes IoT
TEMP_MAX=35.0
TEMP_MIN=10.0
HUM_MAX=80.0
HUM_MIN=20.0

# SOAR
SOAR_THRESHOLD=high
PFSENSE_URL=https://172.16.1.1
PFSENSE_USER=admin
PFSENSE_PASSWORD=MOTDEPASSE_PFSENSE
