venv/
__pycache__/
*.pyc
*.pyo
*.py[codz]
*.so
.env
.envrc
.venv
env/
venv/
ENV/
*.log
*.sock
instance/
.webassets-cache
.pytest_cache/
.coverage
.coverage.*
htmlcov/
.DS_Store
build/
dist/
*.egg-info/
.mypy_cache/
.ruff_cache/
